<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="herokumainpage" parallel="classes" thread-count="20">
    <test name="HerokuTest">
        <classes>
            <class name="tests.HerokuMainPageTests" />
        </classes>
    </test>
</suite>