<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="classes" thread-count="20" verbose="1" >

  <test name="Regression1">
    <classes>
      <class name="tests.HerokuChallengingDomTests"/>
      <class name="tests.HerokuFormAuthenticationTests"/>
      <class name="tests.HerokuMainPageTests"/>
      <class name="tests.LargeDeepDomTests"/>
      <class name="tests.DragAndDropTests"/>
    </classes>
  </test>
</suite>